@charset "UTF-8";
/*
    Typical Divice Breakpoints
       - Tablets: de 768px até 992px
       - Desktops: de 992px até 1200px
       - Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    section{
        width: 400px;
        height: 600px;
    }
    img{
       float: left;
    }

}